@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overscroll-behavior: none;
  }
  
  body {
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  @keyframes float {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
}
